/* цвет основного текста #757575; */
/* вторичный цвет текста  #212121*/
/* основной фон #FFFFFF  */
/* акцент #2196F3 */
/* вторичный цвет фона #2F303A */
/* основной белый цвет #FFFFFF */
:root {
    --light-gray: #757575;
    --dark-gray-100: #212121;
    --blue: #2196f3;
    --white: #fff;
    --dark-gray-200: #2f303a;
    --star-white: #f5f4fa;

    --primary-text-color: var(--light-gray);
    --title-text-color: var(--dark-gray-100);
    --accent-color: var(--blue);
    --primary-background-color: var(--white);
    --secondary-background-color: var(--dark-gray-200);
    --title-background-color: var(--star-white);
}
body {
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
}
.link {
    text-decoration: none;
    outline: none;
}
.list {
    list-style: none;
}
.button {
    cursor: pointer;
    outline: none;
}

/* Шапка и подвал */

.logo {
    color: var(--title-text-color);
    font-family: raleway;
    font-size: 26px;
    line-height: 1.2;
}
.logo-accent,
.logo:focus {
    color: var(--accent-color);
}

.logo-white {
    color: var(--white);
}

.site-nav {
    font-size: 14px;
    line-height: 1.1;
}
.site-nav .link {
    color: var(--title-text-color);
}
.site-nav .link:active,
.site-nav .link:focus,
.site-nav .link:hover {
    color: var(--accent-color);
}

.footer {
    background-color: var(--secondary-background-color);
}

.contact {
    color: var(--title-text-color);
    font-size: 14px;
    line-height: 1.2;
}
.contact .mail,
.contact .tel {
    color: var(--primary-text-color);
}
.contact .mail:focus,
.contact .mail:hover,
.contact .tel:focus,
.contact .tel:hover {
    color: var(--accent-color);
}

/* index.html */
.hero {
    background-color: var(--secondary-background-color);
}

.hero-title {
    color: var(--white);
    font-size: 44px;
    line-height: 1.4;
}
.hero-button {
    background-color: var(--accent-color);
    color: var(--white);
    font-size: 16px;
    line-height: 1.9;
}

.section-title {
    color: var(--title-text-color);
    font-size: 14px;
    line-height: 1.1;
}
.section-big {
    color: var(--title-text-color);
    font-size: 36px;
    line-height: 1.2;
}
.section-info {
    font-size: 14px;
    line-height: 1.7;
}
.section-rang {
    font-size: 16px;
    line-height: 0.8;
}

/* portfolio.html */

.site-option {
    font-size: 16px;
    line-height: 1.6;
}

.site-option .link {
    background-color: var(--title-background-color);
    color: var(--title-text-color);
}
.site-option .link:hover,
.site-option .link:focus {
    background-color: var(--accent-color);
    color: var(--white);
}

.section-name {
    color: var(--title-text-color);
    font-size: 18px;
    line-height: 2;
}
.section-use {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.9;
}
